---
import BaseHead from '../components/BaseHead.astro';
---
<html>
  <head>
    <BaseHead title="Redirigiendo..." description="Redirección a /blog/" />
    <meta http-equiv="refresh" content="0; url=/blog/" />
  </head>
  <body>
    <p>Redirigiendo a <a href="/blog/">/blog/</a>...</p>
  </body>
</html>
